/* .contacts{
    position: relative;
    width: 1400px;
    margin: 0 auto;
}

.contacts:before{
    content: '';
    display: block;
    position: absolute;
    background-image: url(../resources/Vector.png);
    width: 13px;
    height: 22px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    left: 125px;
    top: -25px;
}

.contact_info{
    margin-top: 186px;
    margin-bottom: 150px;
    margin-left: 124px;
}
.number{
    display: block;
    margin-top: 38px;
    color:rgba(18, 18, 18, 1);
    font-size: 62px;
    line-height: 60px;
    text-decoration: none;
}
.email{
    color:grey;
    display: block;
    margin-top: 30px;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    text-underline-offset: 7px;
    text-decoration-thickness: 2px;
} */