/* .container_footer{
    margin: 0 auto;
    padding-top: 60px;
    width: 1400px;
    height: 229px;
    background-color: rgba(18, 18, 18, 1);
}
.footer_info{
    margin: 0 auto;
    margin-bottom: 87px;
    height: 25px;
    text-align: center;
}
.footer_link{
    margin-right: 60px;
    color: #f5f5f5;
    text-decoration: none;
}
.footer_link_active, .footer_link:hover{
    color: grey;
    text-decoration: underline;
}
.footer_info_p{
    font-size: 20px;
    line-height: 27.32px;
    color: grey;
    text-align: center;
    margin-bottom: 30px;


} */