#section__gallery{
    color:rgba(255, 255, 255, 1)
}
.gallery{
    position: relative;
    height: 717px;
}
.gallary__title-container{
    padding-left: 125px;
}
.gallery__title-wrapper{
    z-index: 100;
    width: 100%;
    position: absolute;
    top: 60px;
}
.gallery__title{
    font-size: 22px;
    line-height: 30.05px;
}

.gallery__slide{
    left: 0;
    right: 0;
    position: absolute;
    height: 100%;
    background-position: 50%;
    background-size: cover;
}
.gallery__slide-one{
    opacity: 0;
    background-image: url(../resources/gallery_1.png);
}
.gallery__slide-two{
    opacity: 0;
    background-image: url(../resources/gallery_2.png);
}
.gallery__slide-three{
    opacity: 0;
    background-image: url(../resources/gallery_3.png);
}
.gallery__slide-four{
    opacity: 0;
    background-image: url(../resources/gallery_4.png);
}
.slide__title{
    position: absolute;
    left: 125px;
    bottom: 60px;
    font-size: 30px;
    line-height:40.98px;
}
.gallery__controls-container{
    padding-left: 125px;
}
.gallery__controls-wrapper{
    width: 100%;
    position: absolute;
    bottom: 162px;
}
.gallery__controls{
    display: flex;
    color: white;
}
.gallery__control-prev{
    margin-right: 44px;
    background-color: transparent;
    border: none;
    width: 19.62px;
    height: 33.33px;
    background-image: url(../resources/vector_left.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.gallery__control-next{
    background-color: transparent;
    border: none;
    width: 19.62px;
    height: 33.33px;
    background-image: url(../resources/vector_right.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery__control-prev:hover{
    cursor: pointer;
}
.gallery__control-next:hover{
    cursor: pointer;
}


.gallery__slide_active{
    opacity: 1;
}