h1{
    font-weight: 400;
    max-width: 956px;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: inherit;
}

.into__picture{
    position: relative;
    margin-top: 30px;
    background-image: url(../resources/design1.png);
    width: 1150px;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
}


.intro__text{
    position: absolute;
    max-width: 430px;
    bottom: 40px;
    left: 40px;
    color:rgba(255, 255, 255, 1);

    font-size: 20px;
    font-weight: 400;
    line-height: 27.32px;
}
