/* .container_image{
    max-width: 1400px;
    margin: 0 auto;
}

.last_project{
    min-width: 100%;
    position: relative;
    margin: 0 auto;
    height: 717px;
    background-image: url(../resources/forest_landscape.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.last_project_text{
    position: absolute;
    left: 129px;
    bottom: 55px;
    color: rgba(255, 255, 255, 1);
    width: 443px;
    font-size: 30px;
    line-height: 40.98px;
} */