@import "nav-menu.css";
@import "projects.css";
@import "services.css";
@import "last_project.css";
@import "contacts.css";
@import "footer.css";
@import "intro.css";
@import "about_us.css";

html{
    scroll-behavior: smooth;
}

body {
    font-family: Manrope;
    background-color: #f5f5f5;
}
body * {
    letter-spacing: -0.03em !important;
}



.container{
    padding-left: 125px;
    padding-right: 125px;
    background-color: white;
    font-family: Manrope;
    max-width: 1400px;
    margin: 0 auto;
    
}

h2{
    font-size: 18px;
    font-weight: 400;
    line-height: 24.59px;
}



@media (max-width: 1199px) {
    .container{
        width: 100%;
        padding-left: 17px;
        padding-right: 15px;
    }

    h1{
        font-weight: 400;
        max-width: 802px;
        font-size: 50px;
        line-height: 60px;
        letter-spacing: inherit;
    }

    .picture{
        width: 100%;
        height: 400px;
        background-position: center;
    }
    .picture-text{
        left:30px;
        bottom:30px;
    }
    #about_us{
        margin-top: 120px; 
        width: 100%;
    }
    #about_us p{
        max-width: 693px;
        font-size: 35px;
        line-height: 47.81px;
    }
    #projects{
        margin-top: 120px;
        padding-bottom: 103px;
    }
    .project_picture{
        width:100%;
        height: 450px;
    }
    .address{
        margin-bottom: 10px;
        font-size: 25px;
    }
    .project{
        margin-bottom: 80px;
    }
    .project:nth-last-child(1){
        margin-bottom: 102px;
    }

}

@media (max-width: 767px) {
    .container{
        width: 100%;
        padding-left: 13px;
        padding-right: 12px;
    }

    h1{
        width: 100%;
        font-size: 30px;
        line-height: 31.62px
    }

    .picture{
        width: 100%;
        height: 304px;
        background-position: center;
    }
    .picture-text{
        font-size: 16px;
        line-height: 21.86px;
        left: 15px;
        bottom:15px;
    }
    #about_us{
        margin-top: 80px; 
        width: 100%;
    }
    .view_services{
        max-width: 160px;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
    }
    h2{
        font-size: 14px;
        font-weight: 400;
        line-height: 19.12px;
    }

    #about_us p{
        width: 100%;
        font-size: 22px;
        line-height: 30.05px;
    }

    #projects{
        margin-top: 80px;
        padding-bottom: 103px;
    }
    .project_picture{
        background-position: center;
        width:100%;
        height: 250px;
    }
    .address{
        margin-bottom: 10px;
        font-size: 18px;
    }
    .detail{
        font-size: 16px;
        line-height: 21.86px;
    }
    .project{
        margin-bottom: 49px;
    }
    .project:nth-last-child(1){
        margin-bottom: 60px;
    }
    .all_projects{
        width: 100%;
        height: 100px;
        font-size: 22px;
        line-height: 100px;
        text-align: center;
        text-decoration: none;
    }
}


